html, body, #root, .top-container {
    width: 100%;
    height: 100%;
    // background-color: $white;
}

html {
    font-family: $secondary-font;
}

h1 {
    font-size: 3rem;
    font-family: $primary-font;
}

.top-container {
    height: 100%;
    background-color: $white;
    display: flex;
    // border: 2px solid green;
}

.main-container {
    max-width: calc(100% - $sidebar-width);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    // border: 2px solid red;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

// nav start
.nav {
    height: 100px;
    padding: 2rem;
    // display: 
    // border: 2px solid magenta;

    .nav-list {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // border: 2px solid red;
    }

    .nav-item {
        cursor: pointer;
        display: flex;
        // justify-content: center;
        align-items: center;
        // height: 100%;
        padding: .25rem;
        font-size: 1.5rem;
        color: mix(white, $black, 60%);
        margin-right: 2rem;
        transition: all 0.1s ease;
        // border: 2px solid green;

        &:hover {
            text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor,
            0 0.5px 0 currentColor, 0 -0.5px 0 currentColor;
            // transition: all 0.1s ease;
        }
    }

    .active {
        font-weight: 700;
        color: $black;
    }
}
// nav end


// gallery start
// .gallery-container {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     border: 5px solid blue;
// }
.gallery {
    // height: 100%;  // parent is a flex container
    flex-grow: 1;
    padding: 2rem;
    // padding-right: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 16rem));
    grid-template-rows: repeat(auto-fit, minmax(18rem, 18rem));
    grid-gap: 2rem;
    justify-content: center;
    // border: 5px solid magenta;

    .card {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 18rem;
        // min-height: 18rem;
        // max-height: 20rem;
        border-radius: .5em;
        border: 2px solid $card-border;
        box-shadow: -2px 2px 2px $card-border;

        .card-img {
            background-color: $off-white;
            border-radius: .5em;
            height: 70%;
            width: 100%;
        }

        .card-bottom {
            flex-grow: 1;
            width: 100%;
            // height: 100%; // ?
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            // background-color: blue;

            .like-btn {
                margin-right: .5rem;
            }

            .btn {
                width: 2.5rem;
                height: 2.5rem;
                // background-color: transparent;
                // background-color: red;
                // border: none;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    &:hover {
                        // box-shadow: 0 0 10px 2px red;
                        transform: translateY(-1px);
                        transition: all 0.1s ease;
                    }
                }
                // svg {
                //     width: 100%;
                //     height: 100%;
                //     &:hover {
                //         stroke: red;
                //     }
                // }
            }

            // hovers
            
        }
    }
}
// gallery end


// sidebart start
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: $sidebar-width;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // border: 2px solid black;
    border-left: 2px solid $border-color ;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        margin-bottom: 2rem;
    }

    .cart-icon-container {
        width: 4rem;
        height: 4rem;
        // background-color: red;
        // background-image: url('../assets/cart.svg');
        // background-repeat: no-repeat;

        .cart-icon {

        }
        .shopping-count-icon {
            position: absolute;
            z-index: 1;
            // transform: translate(-.5rem, .1rem);
            transform: translateX(-40%);
            width: 1.5rem;
            height: 1.5rem;
            background-color: red;
            color: white;
            font-size: .8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            transition: transform 0.05s ease-in-out;
            
            &.hide {
                display: none;
            }

            @keyframes jump {
                0% {
                    transform: translate(-40%, 0);
                    opacity: 1;
                }
                50% {
                    transform: translate(-40%, -50%);
                }
                100% {
                    transform: translate(-40%, 0);
                }
            }

            &.jump-animation {
                animation: jump 0.2s ease forwards;
            }
        }
        
    }
}

.bottom {
    margin-bottom: 2rem;
    // border: 2px solid red;
}
// sidebart end