// imports
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

// Colors
$white: #F8F8F8;
$black: #02010A;
$off-white: #F7F6FC;
$border-color: #E7E4E4;
$card-border: #CBC4C4;

// Fonts
$primary-font: 'Outfit', sans-serif;
$secondary-font: 'Onest';